{{!--

  This build is including handlebars-helpers
  you can find more informations here :
  > https://github.com/assemble/handlebars-helpers

  We also have a custom helper to render inline svg
  who are register as svg icons or svg illustration
  > {{inlinesvg 'icon-foo'}}
  Note that icon are expected to be wrapped in a span

--}}

<ul class="<%name%>-list">
  {{#each list}}
    <li>
      <a href="{{href}}">
        <span class="<%name%>-icon">{{inlinesvg icon}}</span>
        <span class="<%name%>-title">{{title}}</span>
      </a>
    </li>
  {{/each}}
</ul>

