---
layout: base
isIndex: true
---

{{#each navigation}}
  <div>
    {{title}}
    <ul>
    {{#each items}}
      <li>
        <a href="{{href}}">{{title}}</a>
      </li>
    {{/each}}
    </ul>
  </div>
{{/each}}
