---
layout: base
pageTitle: Support test
jsInclude: support-new
---

<section class="support-faq-results"></section>

<script>
  var apAEM = apAEM || {};
  apAEM.config = {
    supportEndpoint: 'https://test.npe.auspost.com.au/',
    supportAuthDetails: 'c3Nzd19mYXE6V2VsY29tZUAxMjM='
  };
</script>
