.demo-html {
  background: #f3f4f5;
}

.demo-body {
  padding-bottom: 60px;
}

.demo-container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

.demo-wrapper {
  @media (min-width: 970px) {
    display: flex;
    justify-content: space-between;
  }
}
