





/*
Example of HTML for href link with right chevon icon

<a href="{{somewhere}}" class="link link-secondary link-icon-right">
  <svg class="link-icon-right-svg" width="4" height="7" class="tt-icon" viewBox="0 0 4 7" xmlns="http://www.w3.org/2000/svg"><path d="M3.646 2.674l-.013-.008L1.13.16a.547.547 0 0 0-.776 0L.16.355a.548.548 0 0 0 0 .775l2.13 2.128L.16 5.386a.55.55 0 0 0 0 .775l.194.194c.214.214.56.214.775 0L3.632 3.85c.004-.005.01-.006.013-.01l.194-.193a.546.546 0 0 0 .16-.39.545.545 0 0 0-.16-.39l-.194-.193z" fill-rule="evenodd"></path></svg>
  <span class="link-icon-right-text">Track multiple</span>
</a>

*/

.link-icon-right {
  background-color: transparent;
  display: flex;
  align-items: center;
  text-decoration: none;

  &:focus,
  &:hover { text-decoration: underline; }
}

.link-icon-right-svg { fill: $AP_P_Red; }

.link-icon-right-text { margin-left: 5px; }


.caret-link{
  padding-left: 15px;
  display: block;
  text-decoration: none;
  background: url('../css-images/icon-caret-red.svg') -3px 6px no-repeat;
  background-size: 20px 20px;
  &:focus,
  &:hover {
    background: url('../css-images/icon-caret-red.svg') -3px 6px no-repeat;
    background-size: 20px 20px;
  }
}

.caret-link-red{
  @extend .caret-link;
}

.caret-link-grey{
	@extend .caret-link;
	background: url('../css-images/icon-caret-grey.svg') -3px 6px no-repeat;
  background-size: 20px 20px;
}

.link {
	&:hover {
		text-decoration: none;
	}
}

.link-underline {
	padding-bottom: 2px;
	&:hover {
		border-bottom: 1px solid currentColor;
	}
}

