{{#if faq.next}}
<div class="expandable-block expandable-block--support">
	<button class="expandable-block-trigger support-faq-next" data-next="{{faq.next}}" role="navigation" rel="next">
		Load more ({{faq.numRemaining}} more results)
	</button>
</div>
{{/if}}
